In [113]:
import pandas

In [133]:
df = pandas.read_excel("../data/testdata.xls",header=[0,1])

In [136]:
df

       Respondent ID       Collector ID          Start Date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1  Unnamed: 2_level_1
0        11646526040          261127766 2020-05-29 13:01:48
1        11646514194          261127229 2020-05-29 12:56:19
2        11646511509          261127229 2020-05-29 12:55:06

             End Date         IP Address          Email Address  \
   Unnamed: 3_level_1 Unnamed: 4_level_1     Unnamed: 5_level_1
0 2020-05-29 13:02:15      111.69.92.148                    NaN
1 2020-05-29 12:57:04      111.69.92.148      venduco@gmail.com
2 2020-05-29 12:55:53      111.69.92.148  familywells@gmail.com

          First Name          Last Name      Custom Data 1      Custom Data 2  \
  Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0                NaN                NaN                NaN                NaN
1                Ian              Wells                NaN                NaN
2                ian              wells                NaN                NaN

   ... what is your surname? Mobile number where you can be reached?  \
   ...   Open-Ended Response                     Open-Ended Response
0  ...                    ss                                    dfdf
1  ...                mentee                                   sdfsd
2  ...                   man                              2102277502

  Rank your choices of mentee from 1 ( most preferable) to least          \
                                                         Mentee1 Mentee2
0                                                NaN                 NaN
1                                                NaN                 NaN
2                                                1.0                 2.0


  Mentee3   Mentee4 Mentor1   Mentor2 Mentor3 Mentor4
0     NaN       NaN     NaN       NaN     NaN     NaN
1     NaN       NaN     1.0  Unranked     2.0     3.0
2     3.0  Unranked     NaN       NaN     NaN     NaN

[3 rows x 27 columns]

In [221]:
df3 = pandas.read_excel("../data/testdata3.xlsx",header=[0,1])

In [117]:
df["Email Address"].iloc[:,0]

0                      NaN
1        venduco@gmail.com
2    familywells@gmail.com
Name: Unnamed: 5_level_1, dtype: object

In [118]:
mentee_ranking = {}


for i, row in df.iterrows():
    email_address = row["Email Address"].iloc[0]
    print(email_address)
    mentors = row["Rank your choices of mentee from 1 ( most preferable) to least"]
    mentee_ranking[email_address] = [rank for j, rank in mentors.iteritems()]
    print (mentors)

nan
Mentee1    NaN
Mentee2    NaN
Mentee3    NaN
Mentee4    NaN
Mentor1    NaN
Mentor2    NaN
Mentor3    NaN
Mentor4    NaN
Name: 0, dtype: object
venduco@gmail.com
Mentee1         NaN
Mentee2         NaN
Mentee3         NaN
Mentee4         NaN
Mentor1           1
Mentor2    Unranked
Mentor3           2
Mentor4           3
Name: 1, dtype: object
familywells@gmail.com
Mentee1           1
Mentee2           2
Mentee3           3
Mentee4    Unranked
Mentor1         NaN
Mentor2         NaN
Mentor3         NaN
Mentor4         NaN
Name: 2, dtype: object

In [119]:
mentee_ranking

{nan: [nan, nan, nan, nan, nan, nan, nan, nan],
 'venduco@gmail.com': [nan, nan, nan, nan, 1.0, 'Unranked', 2.0, 3.0],
 'familywells@gmail.com': [1.0, 2.0, 3.0, 'Unranked', nan, nan, nan, nan]}

In [120]:
email_address

'familywells@gmail.com'

In [217]:
df3.T

                                                                                          0  \
Respondent ID                                      Unnamed: 0_level_1           11656917754
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:36:09
End Date                                           Unnamed: 3_level_1   2020-06-02 15:36:51
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                               NaN
                                                   Mentee                            Mentee
What is your first name?                           Open-Ended Response             daniella
what is your surname?                              Open-Ended Response             daniella
Mobile number where you can be reached?            Open-Ended Response                  sdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                NaN
                                                   sara                                 NaN
                                                   zoey                                 NaN
                                                   daniella                             NaN
                                                   ryan                                   1
                                                   blake                                  4
                                                   josh                                   3
                                                   connor                                 2
Additional comments?                               Open-Ended Response                  NaN

                                                                                          1  \
Respondent ID                                      Unnamed: 0_level_1           11656916530
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:35:00
End Date                                           Unnamed: 3_level_1   2020-06-02 15:36:04
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                               NaN
                                                   Mentee                            Mentee
What is your first name?                           Open-Ended Response                 zoey
what is your surname?                              Open-Ended Response                 zoey
Mobile number where you can be reached?            Open-Ended Response                sdfsd
Rank your choices of mentee from 1 ( most prefe... lizzy                                NaN
                                                   sara                                 NaN
                                                   zoey                                 NaN
                                                   daniella                             NaN
                                                   ryan                                   3
                                                   blake                                  4
                                                   josh                                   2
                                                   connor                                 1
Additional comments?                               Open-Ended Response                  NaN

                                                                                          2  \
Respondent ID                                      Unnamed: 0_level_1           11656914714
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:34:12
End Date                                           Unnamed: 3_level_1   2020-06-02 15:34:52
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                               NaN
                                                   Mentee                            Mentee
What is your first name?                           Open-Ended Response                 sara
what is your surname?                              Open-Ended Response                 sara
Mobile number where you can be reached?            Open-Ended Response               sdfsdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                NaN
                                                   sara                                 NaN
                                                   zoey                                 NaN
                                                   daniella                             NaN
                                                   ryan                                   1
                                                   blake                                  2
                                                   josh                                   4
                                                   connor                                 3
Additional comments?                               Open-Ended Response                  NaN

                                                                                          3  \
Respondent ID                                      Unnamed: 0_level_1           11656913499
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:33:25
End Date                                           Unnamed: 3_level_1   2020-06-02 15:34:07
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                               NaN
                                                   Mentee                            Mentee
What is your first name?                           Open-Ended Response                lizzy
what is your surname?                              Open-Ended Response                lizzy
Mobile number where you can be reached?            Open-Ended Response                  sdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                NaN
                                                   sara                                 NaN
                                                   zoey                                 NaN
                                                   daniella                             NaN
                                                   ryan                                   1
                                                   blake                                  2
                                                   josh                                   3
                                                   connor                                 4
Additional comments?                               Open-Ended Response                  NaN

                                                                                          4  \
Respondent ID                                      Unnamed: 0_level_1           11656912120
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:32:26
End Date                                           Unnamed: 3_level_1   2020-06-02 15:33:19
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                            Mentor
                                                   Mentee                               NaN
What is your first name?                           Open-Ended Response               connor
what is your surname?                              Open-Ended Response               connor
Mobile number where you can be reached?            Open-Ended Response                  sdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                  1
                                                   sara                                   2
                                                   zoey                                   3
                                                   daniella                               4
                                                   ryan                                 NaN
                                                   blake                                NaN
                                                   josh                                 NaN
                                                   connor                               NaN
Additional comments?                               Open-Ended Response                  NaN

                                                                                          5  \
Respondent ID                                      Unnamed: 0_level_1           11656910516
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:31:23
End Date                                           Unnamed: 3_level_1   2020-06-02 15:32:16
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                            Mentor
                                                   Mentee                               NaN
What is your first name?                           Open-Ended Response                blake
what is your surname?                              Open-Ended Response                blake
Mobile number where you can be reached?            Open-Ended Response               sdfsdg
Rank your choices of mentee from 1 ( most prefe... lizzy                                  4
                                                   sara                                   1
                                                   zoey                                   3
                                                   daniella                               2
                                                   ryan                                 NaN
                                                   blake                                NaN
                                                   josh                                 NaN
                                                   connor                               NaN
Additional comments?                               Open-Ended Response                  NaN

                                                                                          6  \
Respondent ID                                      Unnamed: 0_level_1           11656908374
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:30:01
End Date                                           Unnamed: 3_level_1   2020-06-02 15:31:16
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                            Mentor
                                                   Mentee                               NaN
What is your first name?                           Open-Ended Response                 josh
what is your surname?                              Open-Ended Response                 josh
Mobile number where you can be reached?            Open-Ended Response                  sdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                  2
                                                   sara                                   1
                                                   zoey                                   4
                                                   daniella                               3
                                                   ryan                                 NaN
                                                   blake                                NaN
                                                   josh                                 NaN
                                                   connor                               NaN
Additional comments?                               Open-Ended Response                  NaN

                                                                                          7
Respondent ID                                      Unnamed: 0_level_1           11656904103
Collector ID                                       Unnamed: 1_level_1             261127766
Start Date                                         Unnamed: 2_level_1   2020-06-02 15:27:33
End Date                                           Unnamed: 3_level_1   2020-06-02 15:28:33
IP Address                                         Unnamed: 4_level_1         111.69.92.148
Email Address                                      Unnamed: 5_level_1                   NaN
First Name                                         Unnamed: 6_level_1                   NaN
Last Name                                          Unnamed: 7_level_1                   NaN
Custom Data 1                                      Unnamed: 8_level_1                   NaN
Are you a mentor or mentee?                        Mentor                            Mentor
                                                   Mentee                               NaN
What is your first name?                           Open-Ended Response                 ryan
what is your surname?                              Open-Ended Response                   as
Mobile number where you can be reached?            Open-Ended Response                  sdf
Rank your choices of mentee from 1 ( most prefe... lizzy                                  1
                                                   sara                                   2
                                                   zoey                                   3
                                                   daniella                               4
                                                   ryan                                 NaN
                                                   blake                                NaN
                                                   josh                                 NaN
                                                   connor                               NaN
Additional comments?                               Open-Ended Response                  NaN

In [124]:
import stable_matching

In [138]:
!python stable_matching.py

['ryan', 'josh', 'blake', 'connor']
DEALING WITH ryan
ryan is no longer a free mentor and is now tentatively engaged to lizzy
DEALING WITH blake
blake is no longer a free mentor and is now tentatively engaged to sarah
DEALING WITH josh
sarah is taken already..
She's satisfied with blake..
lizzy is taken already..
She's satisfied with ryan..
josh is no longer a free mentor and is now tentatively engaged to daniella
DEALING WITH connor
lizzy is taken already..
She's satisfied with ryan..
sarah is taken already..
She's satisfied with blake..
connor is no longer a free mentor and is now tentatively engaged to zoey
[['ryan', 'lizzy'], ['blake', 'sarah'], ['josh', 'daniella'], ['connor', 'zoey']]

In [215]:
df3["Rank your choices of mentee from 1 ( most preferable) to least"]

   lizzy  sara  zoey  daniella  ryan  blake  josh  connor
0    NaN   NaN   NaN       NaN   1.0    4.0   3.0     2.0
1    NaN   NaN   NaN       NaN   3.0    4.0   2.0     1.0
2    NaN   NaN   NaN       NaN   1.0    2.0   4.0     3.0
3    NaN   NaN   NaN       NaN   1.0    2.0   3.0     4.0
4    1.0   2.0   3.0       4.0   NaN    NaN   NaN     NaN
5    4.0   1.0   3.0       2.0   NaN    NaN   NaN     NaN
6    2.0   1.0   4.0       3.0   NaN    NaN   NaN     NaN
7    1.0   2.0   3.0       4.0   NaN    NaN   NaN     NaN

In [230]:
df3["What is your first name?"]["Open-Ended Response"].value_counts()

ryan        1
josh        1
lizzy       1
daniella    1
connor      1
sara        1
zoey        1
blake       1
Name: Open-Ended Response, dtype: int64

In [231]:
my_mentees

lizzy       1
sara        2
zoey        3
daniella    4
Name: 7, dtype: object

In [236]:
list(my_mentees.sort_values(ascending=True).iteritems())

[('daniella', 4.0), ('zoey', 3.0), ('sara', 2.0), ('lizzy', 1.0)]

In [243]:
mentee_ranking = {}
mentor_ranking = {}

for i, row in df3.iterrows():
    name = row["What is your first name?"].iloc[0]
    yes_mentee = row["Are you a mentor or mentee?"].iloc[1]
    yes_mentor = row["Are you a mentor or mentee?"].iloc[0]

    if (yes_mentor == "Mentor"):
        #print ("I am a mentor",name,"\n")
        my_mentees = row["Rank your choices of mentor from 1 ( most preferable) to least"]
        my_sorted_mentees = my_mentees.sort_values(ascending=True)
        mentee_ranking[name] = [
            mentee_name 
            for mentee_name, rank 
            in my_sorted_mentees.iteritems()
        ]
        #print("my mentees:",i,"\n",my_mentees,"\n",mentee_ranking)
    elif (yes_mentee == "Mentee"):
        #print("I am a mentee",name)
        my_mentors = row["Rank your choices of mentee from 1 ( most preferable) to least"]
        my_sorted_mentors = my_mentors.sort_values(ascending=True)
        mentor_ranking[name] = [
            mentor_name 
            for mentor_name, rank 
            in my_sorted_mentors.iteritems()
        ]
        #print("my mentors:", i, "\n", my_mentors, "\n", mentor_ranking)
    else:
        print("error in spreadsheet")
    
        
   
#    print (mentee_ranking)
#    print(mentor_ranking)

In [252]:
{
	'ryan': 	['lizzy', 'sarah', 'zoey', 'daniella'],
	'josh': 	['sarah', 'lizzy', 'daniella', 'zoey'],
	'blake': 	['sarah', 'daniella', 'zoey', 'lizzy'],
	'connor': 	['lizzy', 'sarah', 'zoey', 'daniella']
}

{'ryan': ['lizzy', 'sarah', 'zoey', 'daniella'],
 'josh': ['sarah', 'lizzy', 'daniella', 'zoey'],
 'blake': ['sarah', 'daniella', 'zoey', 'lizzy'],
 'connor': ['lizzy', 'sarah', 'zoey', 'daniella']}

In [250]:
mentee_ranking

{'connor': ['lizzy', 'sara', 'zoey', 'daniella'],
 'blake': ['sara', 'daniella', 'zoey', 'lizzy'],
 'josh': ['sara', 'lizzy', 'daniella', 'zoey'],
 'ryan': ['lizzy', 'sara', 'zoey', 'daniella']}

In [251]:
mentor_ranking

{'daniella': ['ryan', 'connor', 'josh', 'blake'],
 'zoey': ['connor', 'josh', 'ryan', 'blake'],
 'sara': ['ryan', 'blake', 'connor', 'josh'],
 'lizzy': ['ryan', 'blake', 'josh', 'connor']}

In [227]:
df3

       Respondent ID       Collector ID          Start Date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1  Unnamed: 2_level_1
0        11656917754          261127766 2020-06-02 15:36:09
1        11656916530          261127766 2020-06-02 15:35:00
2        11656914714          261127766 2020-06-02 15:34:12
3        11656913499          261127766 2020-06-02 15:33:25
4        11656912120          261127766 2020-06-02 15:32:26
5        11656910516          261127766 2020-06-02 15:31:23
6        11656908374          261127766 2020-06-02 15:30:01
7        11656904103          261127766 2020-06-02 15:27:33

             End Date         IP Address      Email Address  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
0 2020-06-02 15:36:51      111.69.92.148                NaN
1 2020-06-02 15:36:04      111.69.92.148                NaN
2 2020-06-02 15:34:52      111.69.92.148                NaN
3 2020-06-02 15:34:07      111.69.92.148                NaN
4 2020-06-02 15:33:19      111.69.92.148                NaN
5 2020-06-02 15:32:16      111.69.92.148                NaN
6 2020-06-02 15:31:16      111.69.92.148                NaN
7 2020-06-02 15:28:33      111.69.92.148                NaN

          First Name          Last Name      Custom Data 1  \
  Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN
5                NaN                NaN                NaN
6                NaN                NaN                NaN
7                NaN                NaN                NaN

  Are you a mentor or mentee?  ... Mobile number where you can be reached?  \
                       Mentor  ...                     Open-Ended Response
0                         NaN  ...                                     sdf
1                         NaN  ...                                   sdfsd
2                         NaN  ...                                  sdfsdf
3                         NaN  ...                                     sdf
4                      Mentor  ...                                     sdf
5                      Mentor  ...                                  sdfsdg
6                      Mentor  ...                                     sdf
7                      Mentor  ...                                     sdf

  Rank your choices of mentor from 1 ( most preferable) to least            \
                                                           lizzy sara zoey
0                                                NaN              NaN  NaN
1                                                NaN              NaN  NaN
2                                                NaN              NaN  NaN
3                                                NaN              NaN  NaN
4                                                1.0              2.0  3.0
5                                                4.0              1.0  3.0
6                                                2.0              1.0  4.0
7                                                1.0              2.0  3.0

           Rank your choices of mentee from 1 ( most preferable) to least  \
  daniella                                                           ryan
0      NaN                                                1.0
1      NaN                                                3.0
2      NaN                                                1.0
3      NaN                                                1.0
4      4.0                                                NaN
5      2.0                                                NaN
6      3.0                                                NaN
7      4.0                                                NaN

                    Additional comments?
  blake josh connor  Open-Ended Response
0   4.0  3.0    2.0                  NaN
1   4.0  2.0    1.0                  NaN
2   2.0  4.0    3.0                  NaN
3   2.0  3.0    4.0                  NaN
4   NaN  NaN    NaN                  NaN
5   NaN  NaN    NaN                  NaN
6   NaN  NaN    NaN                  NaN
7   NaN  NaN    NaN                  NaN

[8 rows x 23 columns]

In [157]:
mentee_ranking

{nan: ('x', [nan, nan, nan, nan, 1.0, 4.0, 3.0, 2.0]),
 nan: ('x', [nan, nan, nan, nan, 3.0, 4.0, 2.0, 1.0]),
 nan: ('x', [nan, nan, nan, nan, 1.0, 2.0, 4.0, 3.0]),
 nan: ('x', [nan, nan, nan, nan, 1.0, 2.0, 3.0, 4.0]),
 nan: ('x', [1.0, 2.0, 3.0, 4.0, nan, nan, nan, nan]),
 nan: ('x', [4.0, 1.0, 3.0, 2.0, nan, nan, nan, nan]),
 nan: ('x', [2.0, 1.0, 4.0, 3.0, nan, nan, nan, nan]),
 nan: ('x', [1.0, 2.0, 3.0, 4.0, nan, nan, nan, nan])}